.git
.gitignore
**/node_modules
**/.cache
**/dist
**/build
coverage
.npm
.yarn
.pnpm-store

.env
.env.*
*.log
logs/
.DS_Store
.vscode
.idea

# Docker artefacts
Dockerfile*
.dockerignore
docker-compose*.yml

# Tests & docs (not needed in runtime image)
tests/
__tests__/
storybook/
docs/
examples/

